# macOS junk
.DS_Store

# IDE clutter
.idea/

# Data
*.csv
*.xlsx

# Big local datasets
data/
*.csv
*.xlsx
data/
Cancers-Freya/combined_metadata_noncancer_removed.csv

# environment 
.env

# Zensical build output
site/